{% load static %}

{% load crispy_forms_tags %}

<html>
    
    <head>
        <title>Profile Management | AWSDjango</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    {% include 'main/navbar.html' %}
    <br>

    <div class="container bg-white shawdow-md p-5 form-layout">
        <h3>Update Username and Email</h3>
        <br> 
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ user_form.username|as_crispy_field}}
            <br>
            {{user_form.email|as_crispy_field}}
            <br>
            <input class="btn btn-primary w-70" type="submit" value="Update"/>
            <br>
        </form>
    </div>
    <br>
    <div class="container bg-white shawdow-md p-5 form-layout">
        <h3>Upload a profile picture</h3>
        <br>
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            <br>
            {% csrf_token %}
            {{profile_form.profile_pic|as_crispy_field}}
            <br>
            <input class="btn btn-primary w-40" type="submit" value="Update" />
            <br>
        </form>
        <br>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Delete your account</h3>
        <br>
        <a href="{% url 'delete-account' %}">Delete Account</a>
    </div>
    <br>
     <script src="{% static 'js/app.js' %}"></script>

</html>